# Control service address (to which the control service will be bound)
#   (works on the localhost network interface by default,
#    and the operating system chooses the port (dynamic port))
# control_host = localhost
# control_port = 0

# Command service address (from which the command service is accessible to the control server)
#   (by default localhost:2020 i.e. the control server will
#    connect to the same machine it is running on port 2020)
# command_host = localhost
# command_port = 2020

# Voice service address (from which the voice service is accessible to the clients (players))
#   (by default 0.0.0.0:2020, the client will replace 0.0.0.0 with
#    the IP address of the SAMP server, i.e. it is assumed that the SAMP server,
#    the control server and the voice server are running on the same machine)
# voice_host = 0.0.0.0
# voice_port = 2020
