# Control service address (from which the control server is accessible to the voice server)
#   (by default localhost:2020 i.e. the voice server will
#    connect to the same machine it is running on port 2020)
# control_host = localhost
# control_port = 2020

# Command service address (to which the command service will be bound)
#   (works on the localhost network interface by default,
#    and the operating system chooses the port (dynamic port))
# command_host = localhost
# command_port = 0

# Voice service address (to which the voice service will be bound)
#   (by default 0.0.0.0:2020, i.e. voice service will work on port 2020 (UDP)
#    accepting packets from any network interface)
# voice_host = 0.0.0.0
# voice_port = 2020

# Number of threads involved in the transit of voice packets
#   (default is 0, which means use the maximum possible number of
#    threads that can run in parallel at the hardware level)
# workers = 0
